.item {
    background-color: #f2f2f2 !important;
}
.item:first-child {
    margin-top: 15px !important;
}

.btn-add {
    background-color: #8d4ae9 !important;
    border-color: #8d4ae9 !important;
}